<table cellspacing='0'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Lesson</th>
            <th>Teacher</th>
            <th>Classroom</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <input class="filter-input cs-input" type="date">
            </td>
            <td>
                <input class="filter-input cs-input" type="time">
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="бд">лаб. Базы данных</option>
                    <option value="сети">лаб. Сети</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="рудикова">Рудикова Лада Владимировна</option>
                    <option value="сети">Самосюк Андрей Александрович</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="210">210</option>
                    <option value="211">211</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input class="filter-input cs-input" type="date">
            </td>
            <td>
                <input class="filter-input cs-input" type="time">
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="бд">лаб. Базы данных</option>
                    <option value="сети">лаб. Сети</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="рудикова">Рудикова Лада Владимировна</option>
                    <option value="сети">Самосюк Андрей Александрович</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="210">210</option>
                    <option value="211">211</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input class="filter-input cs-input" type="date">
            </td>
            <td>
                <input class="filter-input cs-input" type="time">
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="бд">лаб. Базы данных</option>
                    <option value="сети">лаб. Сети</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="рудикова">Рудикова Лада Владимировна</option>
                    <option value="сети">Самосюк Андрей Александрович</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="210">210</option>
                    <option value="211">211</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input class="filter-input cs-input" type="date">
            </td>
            <td>
                <input class="filter-input cs-input" type="time">
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="бд">лаб. Базы данных</option>
                    <option value="сети">лаб. Сети</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="рудикова">Рудикова Лада Владимировна</option>
                    <option value="сети">Самосюк Андрей Александрович</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="210">210</option>
                    <option value="211">211</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input class="filter-input cs-input" type="date">
            </td>
            <td>
                <input class="filter-input cs-input" type="time">
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="бд">лаб. Базы данных</option>
                    <option value="сети">лаб. Сети</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="рудикова">Рудикова Лада Владимировна</option>
                    <option value="сети">Самосюк Андрей Александрович</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="210">210</option>
                    <option value="211">211</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input class="filter-input cs-input" type="date">
            </td>
            <td>
                <input class="filter-input cs-input" type="time">
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="бд">лаб. Базы данных</option>
                    <option value="сети">лаб. Сети</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="рудикова">Рудикова Лада Владимировна</option>
                    <option value="сети">Самосюк Андрей Александрович</option>
                </select>
            </td>
            <td>
                <select class="slct cs-select" name="">
                    <option value="210">210</option>
                    <option value="211">211</option>
                </select>
            </td>
        </tr>

    </tbody>
</table>