<table cellspacing='0'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Lesson</th>
            <th>Teacher</th>
            <th>Classroom</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>

    <tr ng-repeat="schedule in schedules">
        <td>
            <input ng-model="schedule.weekDay" class="filter-input cs-input" type="date">
        </td>
        <td>
            <input type="time" min="08:00:00" ng-model="schedule.time" class="filter-input cs-input" placeholder="HH:mm:ss">
        </td>
        <td>
            <select ng-model="schedule.subjectId" ng-options="subject.id as subject.title for subject in subjects"></select>
        </td>
        <td>
            <select ng-model="schedule.teacherId" ng-options="teacher.id as teacher.name + ' ' + teacher.surname for teacher in teachers"></select>
        </td>
        <td>
            <select ng-model="schedule.classroomId" ng-options="classroom.id as classroom.number for classroom in classrooms"></select>
        </td>
        <td>
            <select ng-model="schedule.classId" ng-options="klass.id as klass.number + ' ' + klass.letter for klass in klasses"></select>
        </td>
    </tr>

    </tbody>
</table>

<a class="btn-primary sm-btn addSchedule-btn" value="add" ng-click="addOne()">Add one</a>
<a class="btn-secondary sm-btn" value="" ng-click="sendSchedule()">Send Schedule</a>