<table cellspacing='0'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Lesson</th>
            <th>Teacher</th>
            <th>Classroom</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="schedule in schedules">
            <td rowspan="{{schedule.number_of_lessons}}" ng-if="$first || isStartDay($index)">
                {{schedule.week_day | date}}
            </td>
            <td>{{schedule.week_day | date : "hh:mm"}}</td>
            <td>{{schedule.title}}</td>
            <td>{{schedule.surname}} {{schedule.name}}</td>
            <td>{{schedule.classroom_number}}</td>
        </tr>

        <tr>
            <td rowspan="3">Понедельник
                <p>07/12/14</p>
            </td>
            <td>10:05 - 11:25</td>
            <td>лаб. Базы данных</td>
            <td>Рудикова Лада Владимировна</td>
            <td>210</td>
        </tr>

        <tr>
            <td>10:05 - 11:25</td>
            <td>лаб. Базы данных</td>
            <td>Рудикова Лада Владимировна</td>
            <td>210</td>
        </tr>

        <tr>
            <td>10:05 - 11:25</td>
            <td>лаб. Базы данных</td>
            <td>Рудикова Лада Владимировна</td>
            <td>210</td>
        </tr>

        <tr>
            <td rowspan="2">Вторник
                <p>08/12/14</p>
            </td>
            <td>10:05 - 11:25</td>
            <td>лаб. Базы данных</td>
            <td>Рудикова Лада Владимировна</td>
            <td>210</td>
        </tr>

        <tr>
            <td>10:05 - 11:25</td>
            <td>лаб. Базы данных</td>
            <td>Рудикова Лада Владимировна</td>
            <td>210</td>
        </tr>

        <tr>
            <td>Суббота
                <p>08/12/14</p>
            </td>
            <td>10:05 - 11:25</td>
            <td>лаб. Базы данных</td>
            <td>Рудикова Лада Владимировна</td>
            <td>210</td>
        </tr>

    </tbody>
</table>