<form action="" class="student-form">
    <fieldset>
        <input class="form-input floated-input left-side-input" type="text" placeholder="Name">
        <input class="form-input floated-input" type="text" placeholder="Surname">
    </fieldset>
    <fieldset>
        <input class="form-input" type="date">
    </fieldset>
    <fieldset>
        <input type="radio" name="group1" value="Milk" checked> Male
        <input type="radio" name="group1" value="Butter"> Female
    </fieldset>
    <fieldset>
        <input class="form-input floated-input left-side-input" type="text" placeholder="State">
        <input class="form-input floated-input" type="text" placeholder="City">
    </fieldset>
    <fieldset>
        <input class="form-input" type="text" placeholder="Street">
    </fieldset>
    <fieldset>
        <input class="form-input" type="text" placeholder="Login">
    </fieldset>
    <fieldset>
        <input class="form-input" type="text" placeholder="Password">
    </fieldset>
    <fieldset>
        <input class="form-input" type="date">
    </fieldset>
    <div class="class-selector">
        <label for="">Class:</label>
        <select class="slct" name="class-number" id="classNumber">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
        <select class="slct" name="class-char" id="classChar">
            <option value="А">А</option>
            <option value="Б">Б</option>
            <option value="В">В</option>
            <option value="Г">Г</option>
            <option value="Д">Д</option>
        </select>
    </div>
    <ul class="cd-buttons">
        <li><a href="#0">Create</a>
        </li>
        <li><a href="#0">Cancel</a>
        </li>
    </ul>
</form>
