<form class="student-form">
    <fieldset>
        <input ng-model="student.name" class="form-input floated-input left-side-input" type="text" placeholder="Name">
        <input ng-model="student.surname" class="form-input floated-input" type="text" placeholder="Surname">
    </fieldset>
    <fieldset>
        <input ng-model="dob" class="form-input" type="date">
    </fieldset>
    <fieldset>
        <input type="radio" ng-model="student.gender" value="M" checked> Male
        <input type="radio" ng-model="student.gender" value="F"> Female
    </fieldset>
    <fieldset>
        <input ng-model="student.login" class="form-input" type="text" placeholder="Login">
    </fieldset>
    <fieldset>
        <input ng-model="student.password" class="form-input" type="text" placeholder="Password">
    </fieldset>
    <fieldset>
        <input ng-model="student.dateEnrollment" class="form-input" type="date">
    </fieldset>
    <div class="class-selector">
        <label for="">Class:</label>
        <select ng-model="student.idClass" class="slct" name="class-number" id="classNumber">
            <option ng-repeat="klass in klasses" value="{{klass.id_class}}">{{klass.class_number}}{{klass.class_character}}</option>
        </select>
    </div>
    <ul class="cd-buttons">
        <li><a ng-click="submit()">Create</a>
        </li>
        <li><a href="#">Cancel</a>
        </li>
    </ul>
</form>
