<div class="side-block1">
    <div class="side-block-title">Menu</div>
    <ul class="categories">
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
    </ul>
</div>
<div class="side-block1">
    <div class="side-block-title">Menu</div>
    <ul class="categories">
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
        <li><a href="">Check your message</a>
        </li>
    </ul>
</div>
