<div class="side-block1">
    <div class="side-block-title"><i class="fa fa-bars"></i>&nbsp; Menu</div>
    <ul class="categories">
        <li ng-repeat="link in menu1.links">
            <a href="{{link.href}}">{{link.title}}</a>
        </li>
    </ul>
</div>
<div class="side-block1">
    <div class="side-block-title"><i class="fa fa-pencil-square-o"></i>&nbsp; Menu</div>
    <ul class="categories">
        <li ng-repeat="studItem in studItems2">
            <a href="">{{studItem}}</a>
        </li>
    </ul>
</div>
