// sizes
$top-navigation-size: 50px;

// colors
$main-text: #4e6361; // main text
$side-bar-items-color: #70848C;
$link: #6cac70; // anchor tags
$background: #fff; // body background color
$top-nav-color: #9bd8f1;
$top-nav-text-color: #fff;
$side-bars-color: #f5f5f5;
$border-color: #e0e0e0;

// fonts 
$primary-font: 'Titillium Web', sans-serif;
$primary-font1: 'Roboto', sans-serif;

// z-index 
$header-zindex: 3;
$content-zindex: 2;
$secondary-nav: 1;

// header height 
$header-S: 50px;
$header-M: 50px;

// login colors
$main-login-color: #9bd8f1;