/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #4e6361;
  background-color: #fff; }

.navigation {
  display: block;
  height: 50px;
  background-color: #9bd8f1;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 1px rgba(34, 34, 34, 0.35);
  color: #fff; }
  .navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    .navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .navigation .logo {
    float: left;
    max-height: 50px;
    padding-left: 1em;
    padding-right: 2em;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    font-weight: bold; }
  .navigation .top-menu-list {
    list-style: none;
    float: right;
    margin-right: 100px; }
    .navigation .top-menu-list li {
      display: inline-block; }
      .navigation .top-menu-list li a {
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        color: #fff; }
  .navigation .user-menu {
    float: right;
    position: relative;
    top: 10px;
    padding-right: 1em; }
    .navigation .user-menu a {
      vertical-align: middle;
      display: inline-block; }
    .navigation .user-menu img {
      border-radius: 50%;
      width: 30px; }
    .navigation .user-menu .username {
      vertical-align: middle;
      display: inline-block; }

.main-content-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; }
  .main-content-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .main-content-wrapper h2 {
    padding-left: 15px;
    padding-bottom: 10px; }
  .main-content-wrapper .side-bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .main-content-wrapper .side-bar:last-child {
      margin-right: 0; }
  .main-content-wrapper .side-block1 {
    background-color: #f5f5f5;
    padding: 2em;
    margin-bottom: 20px; }
  .main-content-wrapper .side-block-title {
    margin-bottom: 15px;
    font-size: 20px; }
  .main-content-wrapper .categories {
    list-style: none; }
    .main-content-wrapper .categories li {
      margin-bottom: 10px; }
    .main-content-wrapper .categories a {
      text-decoration: none;
      color: #70848C; }
    .main-content-wrapper .categories a:hover {
      text-decoration: underline; }
  .main-content-wrapper .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .main-content-wrapper .content:last-child {
      margin-right: 0; }
  .main-content-wrapper table {
    width: 100%;
    /*background:#eaebec;*/ }
  .main-content-wrapper table th {
    padding: 21px 25px 22px 25px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0; }
  .main-content-wrapper table thead tr {
    background-color: #f5f5f5; }
  .main-content-wrapper table thead tr th:last-child {
    border-right: 1px solid #e0e0e0; }
  .main-content-wrapper table thead tr th:first-child {
    border-left: 1px solid #e0e0e0; }
  .main-content-wrapper table tr td {
    text-align: center; }
  .main-content-wrapper table tr td:last-child {
    border-right: 1px solid #e0e0e0; }
  .main-content-wrapper table tr {
    text-align: center; }
  .main-content-wrapper table td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    /*background-color: $side-bars-color;*/ }
  .main-content-wrapper table tr:last-child td {
    /*border-bottom:0;*/ }

/* -------------- User Profile styles ---------------------- */
.content .user-info-wrapper {
  display: block; }
  .content .user-info-wrapper:after {
    content: "";
    display: table;
    clear: both; }
.content .user-photo {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%; }
  .content .user-photo:last-child {
    margin-right: 0; }
  .content .user-photo img {
    width: 100%;
    border-radius: 10px; }
.content .user-info {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 65.61052%; }
  .content .user-info:last-child {
    margin-right: 0; }
  .content .user-info .user-name {
    font-size: 26px;
    margin-bottom: 20px; }
  .content .user-info .details {
    list-style: none; }
    .content .user-info .details li {
      margin-bottom: 5px; }
    .content .user-info .details .label {
      font-weight: bold;
      text-decoration: underline; }
  .content .user-info .buttons-wrapper {
    margin-top: 45px; }
    .content .user-info .buttons-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .content .user-info .btn {
    float: left;
    padding-right: 15px; }
  .content .user-info .sm-btn {
    padding: 0.7em 1em;
    display: block;
    color: #fff;
    text-decoration: none; }
  .content .user-info .btn-primary {
    background-color: #1abc9c; }
  .content .user-info .btn-wrng {
    background-color: #f1c40f; }
.content .sm-btn {
  padding: 0.7em 1em;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center; }
.content .btn-primary {
  background-color: #1abc9c; }
.content .btn-secondary {
  background-color: #e03333;
  width: 150px; }
.content .addSchedule-btn {
  width: 150px; }
.content .accordion-tabs-minimal {
  margin-top: 40px;
  margin-bottom: 1.5em; }
  .content .accordion-tabs-minimal:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 769px) {
    .content .accordion-tabs-minimal li.tab-header-and-content {
      display: inline; } }
  .content .accordion-tabs-minimal a.tab-link {
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    color: #000;
    display: block;
    font-weight: 400;
    padding: 0.75em 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 769px) {
      .content .accordion-tabs-minimal a.tab-link {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        border-top: 0; } }
    .content .accordion-tabs-minimal a.tab-link:hover {
      color: #000; }
    .content .accordion-tabs-minimal a.tab-link:focus {
      outline: none; }
    .content .accordion-tabs-minimal a.tab-link.is-active {
      border-bottom: 0; }
      @media screen and (min-width: 769px) {
        .content .accordion-tabs-minimal a.tab-link.is-active {
          border: 1px solid #e0e0e0;
          border-bottom-color: #fff;
          margin-bottom: -1px; } }
  .content .accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 0; }
    @media screen and (min-width: 769px) {
      .content .accordion-tabs-minimal .tab-content {
        border-top: 1px solid #e0e0e0;
        float: left; } }
    .content .accordion-tabs-minimal .tab-content .table-full-width {
      width: 810px; }

/* POPOUT */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap; }

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s; }
  .cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    z-index: 99999999;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s; }

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .cd-popup-container p {
    padding: 1em 1em; }
  .cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px; }
    .cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
      content: '';
      position: absolute;
      top: 12px;
      width: 14px;
      height: 3px;
      background-color: #4e6361; }
    .cd-popup-container .cd-popup-close::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 8px; }
    .cd-popup-container .cd-popup-close::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      right: 8px; }
  .is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  @media only screen and (min-width: 1170px) {
    .cd-popup-container {
      margin: 8em auto; } }
  .cd-popup-container form {
    padding-top: 20px; }
  .cd-popup-container fieldset {
    margin: 20px 40px;
    border: none; }
  .cd-popup-container .form-input {
    width: 100%;
    border: 1px solid #d2d8d8;
    padding: 10px 20px 10px 50px; }
  .cd-popup-container .floated-input {
    float: left;
    width: 200px; }
  .cd-popup-container .left-side-input {
    margin-right: 20px; }
  .cd-popup-container .class-selector {
    margin-bottom: 15px; }

.slct {
  border: 1px solid #d2d8d8;
  padding: 5px 10px 5px 30px; }

.filter {
  margin-bottom: 20px; }

.filter-input {
  border: 1px solid #d2d8d8;
  padding: 6px 10px 6px 30px; }

.cs-input {
  width: 100%;
  padding: 6px 0 6px 0; }

.cs-select {
  width: 100%;
  padding: 5px 0 5px 0; }

.cd-switcher {
  list-style: none; }
  .cd-switcher:after {
    content: "";
    display: table;
    clear: both; }
  .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center; }
    .cd-switcher li:first-child a {
      border-radius: .25em 0 0 0; }
    .cd-switcher li:last-child a {
      border-radius: 0 .25em 0 0; }
  .cd-switcher a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191; }
    .cd-switcher a.selected {
      background: #FFF;
      color: #4e6361; }

#cd-info, #cd-sysinfo {
  display: none; }

#cd-info.is-selected, #cd-sysinfo.is-selected {
  display: block; }

/* Student form */
.student-form {
  width: 500px;
  margin: 0 auto; }

fieldset {
  margin: 20px 40px;
  border: none;
  text-align: center; }

.form-input {
  width: 100%;
  border: 1px solid #d2d8d8;
  padding: 10px 20px 10px 50px; }

.ng-invalid.ng-touched {
  border: 1px solid red; }

.floated-input {
  float: left;
  width: 200px; }

.left-side-input {
  margin-right: 20px; }

.class-selector {
  margin-bottom: 15px;
  width: 300px;
  margin: 0 auto; }

.slct {
  border: 1px solid #d2d8d8;
  padding: 5px 10px 5px 30px; }

.cd-buttons {
  margin: 20px 40px;
  text-align: center;
  list-style: none; }
  .cd-buttons:after {
    content: "";
    display: table;
    clear: both; }
  .cd-buttons li {
    float: left;
    width: 50%; }
  .cd-buttons a {
    text-decoration: none;
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s; }
  .cd-buttons li:first-child a {
    background: #fc7169; }
    .no-touch .cd-buttons li:first-child a:hover {
      background-color: #fc8982; }
  .cd-buttons li:last-child a {
    background: #b6bece; }
    .no-touch .cd-buttons li:last-child a:hover {
      background-color: #c5ccd8; }

/*# sourceMappingURL=main.css.map */
