<h2>Student</h2>
<article class="content">
    <div class="user-info-wrapper">
        <a href="" class="user-photo"><img src="images/user4.jpg" alt=""></a>
        <div class="user-info">
            <h1 class="user-name">{{student.name}} {{student.surname}}</h1>
            <ul class="details">
                <li>
                    <span class="dob-label label">Date of birth:</span>
                    <time class="dob-date" datetime="" day="numeric" is="local-time" month="short" year="numeric" title="">{{student.dateenrollment}}</time>
                </li>
                <li>
                    <span class="address-label label">Address:</span>
                    <span class="address">{{student.state}}, {{student.city}}, {{student.street}}</span>
                </li>
                <li>
                    <span class="class-label label">Class:</span>
                    <span class="class"> {{student.class_number}} {{student.class_character}}</span>
                </li>
                <li>
                    <span class="join-label label">Joined on:</span>
                    <time class="join-date" datetime="" day="numeric" is="local-time" month="short" year="numeric" title=""> {{student.dateenrollment}}</time>
                </li>
                <li>
                    <span class="login-label label">login:</span>
                    <span class="login">vakulich_av_11</span>
                </li>
            </ul>
            <div class="buttons-wrapper">
                <div class="btn">
                    <a href="" class="sm-btn btn-primary">Some Button</a>
                </div>
                <div class="btn">
                    <a href="" class="sm-btn btn-wrng">Some Button</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="accordion-tabs-minimal">
        <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active">Truancy</a>
            <div class="tab-content">
                <table cellspacing='0' class="table-full-width">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Reason</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Create pretty table design</td>
                        <td>100%</td>
                        <td>Yes</td>
                    </tr>

                    <tr>
                        <td>Take the dog for a walk</td>
                        <td>100%</td>
                        <td>Yes</td>
                    </tr>

                    <tr>
                        <td>Waste half the day on Twitter</td>
                        <td>20%</td>
                        <td>No</td>
                    </tr>

                    <tr>
                        <td>Feel inferior after viewing Dribble</td>
                        <td>80%</td>
                        <td>No</td>
                    </tr>

                    <tr>
                        <td>Wince at "to do" list</td>
                        <td>100%</td>
                        <td>Yes</td>
                    </tr>

                    <tr>
                        <td>Vow to complete personal project</td>
                        <td>23%</td>
                        <td>yes</td>
                    </tr>

                    <tr>
                        <td>Procrastinate</td>
                        <td>80%</td>
                        <td>No</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li class="tab-header-and-content">
            <a href="#" class="tab-link">Marks</a>
            <div class="tab-content">
                <table cellspacing='0' class="table-full-width">
                    <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Year</th>
                        <th>Semester</th>
                        <th>Mark</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Create pretty table design</td>
                        <td>100%</td>
                        <td>Yes</td>
                        <td>Test Field</td>
                    </tr>

                    <tr>
                        <td>Take the dog for a walk</td>
                        <td>100%</td>
                        <td>Yes</td>
                        <td>Test Field</td>
                    </tr>

                    <tr>
                        <td>Waste half the day on Twitter</td>
                        <td>20%</td>
                        <td>No</td>
                        <td>Test Field</td>
                    </tr>

                    <tr>
                        <td>Feel inferior after viewing Dribble</td>
                        <td>80%</td>
                        <td>No</td>
                        <td>Test Field</td>
                    </tr>

                    <tr>
                        <td>Wince at "to do" list</td>
                        <td>100%</td>
                        <td>Yes</td>
                        <td>Test Field</td>
                    </tr>

                    <tr>
                        <td>Vow to complete personal project</td>
                        <td>23%</td>
                        <td>yes</td>
                        <td>Test Field</td>
                    </tr>

                    <tr>
                        <td>Procrastinate</td>
                        <td>80%</td>
                        <td>No</td>
                        <td>Test Field</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li class="tab-header-and-content">
            <a href="#" class="tab-link">Third</a>
            <div class="tab-content">
                <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
            </div>
        </li>
        <li class="tab-header-and-content">
            <a href="#" class="tab-link">Last Item</a>
            <div class="tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>
        </li>
    </ul>
</article>
<sidebar></sidebar>